AZURE_OPENAI_API_KEY=your_api_key
AZURE_OPENAI_ENDPOINT=Your_AI_Endpoint
AZURE_OPENAI_DEPLOYMENT=gpt-5-mini
EMAIL_ADDRESS=you@yahoo.com
EMAIL_PASSWORD=Generated_app_password
CARETAKER_EMAIL=you@yahoo.com